<div class="col-md-1 col-xs-1">
    <%= link_to 'Back', @book, class: "btn btn btn-default pull-left", style: "margin-top: 15px;" %>
</div>
<div class="col-md-offset-2 col-md-6 col-xs-10 booktop">
    <center>
        <h1><%= @book.name %></h1>
        <h5>by <%= @book.author %></h5>
        <nav>
		  <ul class="pager">
		  	<% min = 100 %>
		  	<% if @data[@page-1].text.length < min %>
		  		<% if @data[@page-2].text.length < min %>
		  			<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-3), remote: true %></li>
		  		<% else %>
		  			<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-2), remote: true %></li>
		  		<% end %>
		  	<% else %>
		    	<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-1), remote: true %></li>
		    <% end %>
		    <% if @data[@page+1].text.length < min %>
		  		<% if @data[@page+2].text.length < min %>
		  			<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+3), remote: true %></li>
		  		<% else %>
		  			<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+2), remote: true %></li>
		  		<% end %>
		  	<% else %>
		    	<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+1), remote: true %></li>
		    <% end %>
		  </ul>
		</nav>
    </center>
    <center>
           <h6><%= (@page).modulo(@data.count)+1%>/<%=@data.count%></h6>
    </center>
</div>
<div class="col-md-offset-3 col-md-6 col-xs-12">
    <pre id="book-read">
        <%= @data[@page] %>
    </pre>
</div>
<center>
    <div class="col-md-offset-3 col-md-6 col-xs-12 booktop">
        <nav>
		  <ul class="pager">
		  	<% if @data[@page-1].text.length < min %>
		  		<% if @data[@page-2].text.length < min %>
		  			<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-3), remote: true %></li>
		  		<% else %>
		  			<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-2), remote: true %></li>
		  		<% end %>
		  	<% else %>
		    	<li class="previous"><%= link_to '<span aria-hidden="true">&laquo;</span> Previous'.html_safe, read_path(@book,@page-1), remote: true %></li>
		    <% end %>
		    <% if @data[@page+1].text.length < min %>
		  		<% if @data[@page+2].text.length < min %>
		  			<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+3), remote: true %></li>
		  		<% else %>
		  			<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+2), remote: true %></li>
		  		<% end %>
		  	<% else %>
		    	<li class="next"><%= link_to 'Next <span aria-hidden="true">&raquo;</span>'.html_safe, read_path(@book,@page+1), remote: true %></li>
		    <% end %>
		  </ul>
		</nav>
    </div>
</center>